@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: #676d4a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container {
    position: relative;
    width: 300px;
    min-height: 425px;
    background-color: #e2d4b9;
    border-radius: 0.45em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    box-shadow: 0 5px 30px -18px, 0 0 0 5px rgba(255, 255, 255, 0.25);
}
.container:nth-child(n) {
    display: block;
}

#Title {
    font-size: 2.3rem;
    font-family: "Dancing Script", sans-serif;
    font-weight: 600;
    background: linear-gradient(to right, #30360e, #787f56);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin: .5em;
}

.Inputs {
    position: relative;
    margin: 1rem;
    font-size: 1.5rem;
    font-style: italic;
    padding: .5rem;
    align-self: flex-start;
    flex-direction: row;
}
.Inputs > p {
    position: relative;
    color: #2A4D88;
    padding-bottom: 10px;
    left: -15px;
    top: -2.5px;
}

/*Radio buttons Settings*/
.radio_label {
    margin: 1.7rem;
}

.radio_buttons {
    appearance: none;
    width: 1.5em;
    height: 1.5em;
    border: 2px solid #516891;
    border-radius: 50%;
    position: relative;
    transition: all .2s ease;
    cursor: pointer;
}
.radio_buttons::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 0rem;
    height: 0rem;
    border-radius: 50%;
    background-color: #374375;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all .2s ease;
}
.radio_buttons:hover::before {
    width: 0.7rem;
    height: 0.7rem;
    background-color: #516891;
}
.radio_buttons:checked {
    border: 2px solid #374375;
    box-shadow: 0 0 4px #374375;
}
.radio_buttons:checked::before {
    animation: pop .2s 0s ease forwards;
}

@keyframes pop {
    from {
        width: 0;
        height: 0;
    }
    to {
        width: 0.7em;
        height: 0.7em;
        background-color: #374375;
    }
}

/*Text input Settings*/
.Unit_input {
    position: relative;
    width: 100%;
    font-family: "Roboto", sans-serif;
    display: flex;
}
.Unit_input label {
    position: absolute;
    font-size: 1rem;
    color: grey;
    pointer-events: none;
    top: 5px;
    left: 5px;
    transition: all .2s;
}

.Unit_input > .Unit_input_box {
    width: 90%;
    padding: .4rem;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    color: transparent;
    font-weight: 600;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #9b9b9b;
    transition: color .2s ease, border .2s ease;
}

.Unit_input_box::placeholder {
    color: transparent;
}

.Unit_input_box:not(:placeholder-shown) {
    color: #374375;
    border-width: 2.5px;
    border-image: linear-gradient(to right, #56633d, #787f56);
    border-image-slice: 1;
    cursor: text;
}
.Unit_input_box:not(:placeholder-shown) ~ label {
    top: -12px;
    font-weight: 600;
    background: linear-gradient(to right, #56633d, #787f56);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Unit_input_box:focus {
    color: #374375;
    border-width: 2.5px;
    border-image: linear-gradient(to right, #56633d, #787f56);
    border-image-slice: 1;
    cursor: text;
}

.Unit_input_box:focus ~ label {
    top: -12px;
    font-weight: 600;
    background: linear-gradient(to right, #56633d, #787f56);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Submit {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
#Submit-btn {
    position: relative;
    width: 100px;
    height: 55px;
    border-radius: 0.45em;
    border: none;
    background: linear-gradient(144deg, #002147, #d2b48c);
    color: #fafafa;
    font-size: 1.2rem;
    transition: transform .3s ease;
}

#Submit-btn > span {
    background-color: #15171b;
    width: 100%;
    height: 100%;
    padding: 13px 17px;
    border-radius: 0.3em;
    transition: all .3s ease;
}

#Submit-btn:hover span, #Submit-btn:active span{
    background: none;
}

#Submit-btn:active {
    transform: scale(0.85);
}

#result {
    font-size: 1.4rem;
    font-style: italic;
    padding: 1.5rem;

}
